<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6e926480-ee2f-4531-b5af-6cc20d01527f/resourceGroups/develop/providers/Microsoft.Web/sites/polluxmovies</ResourceId>
    <ResourceGroup>develop</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://polluxmovies-erhqbxg4dghfcucp.westus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>791f4f4b-4a9f-45de-a592-4a9f2852099f</ProjectGuid>
    <PublishUrl>https://polluxmovies-erhqbxg4dghfcucp.scm.westus2-01.azurewebsites.net/</PublishUrl>
    <UserName>$polluxmovies</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>